requests==2.23.0
pywebio-battery==0.3.0
selenium
Pillow >= 7
pywebio
argparse
flask
pandas
pyperclip
webdrivermanager
twilio
phonenumbers
regex
Jinja2
MarkupSafe
PyJWT
PyNaCl
PyPDF2
Pygments
SQLAlchemy
Werkzeug
XlsxWriter
asttokens
b4
backcall
beautifulsoup4
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
cycler
debugpy
decorator
dkimpy
dnspython
entrypoints
et-xmlfile
executing
fonttools
greenlet
idna
ipykernel
ipython
itsdangerous
jedi
jupyter-client
jupyter-core
keyboard
kiwisolver
lxml
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
parso
patatt
pickleshare
prettytable
prompt-toolkit
psutil
pure-eval
pycparser
pyparsing
python-dateutil
pytz
pyzmq
setuptools
simplejson
six
soupsieve
stack-data
tabulate
tenacity
tornado
tqdm
traitlets
ua-parser
urllib3
user-agents
wcwidth
itranslate
chromedriver-binary
chromedriver-autoinstaller
pyfiglet
webdriver-manager
